body {
  font-size: larger;
  width: 80%;
  margin: auto;
}
h1 {
  font-size: smaller;
}
h2 {

}

img {
    max-width: 100%;
    padding: 20px 0;
}

figure {
    margin: 0;
}

@media (min-width: 376px) {
  body {
      background-color: aquamarine;
      font-size: 15px;
      width: fit-content;
      margin-left: 10px;
  }

  p {
      width: 90%;
  }

  figure {
      display: flex;
      flex-wrap: wrap;
      float: left;
      width: 40%;
      padding: 1px;
  }
}

@media (min-width: 1479px) {
  body {
      background-color: blueviolet;
  }
}